# docker-compose.yml
version: "3.9"

services:
  openlibry:
    container_name: openlibry
    build:
      context: .
      target: runner
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - ./.env            # exposes all KEY=VALUE pairs to the container
    volumes:
      - ./database:/app/database
      - ./public/coverimages:/app/public/coverimages
    restart: unless-stopped
