services:
  openlibry:
    container_name: openlibry
    build:
      context: .
      target: runner
    # Map host port -> container port (container listens on 3000)
    ports:
      - "${PORT:-3000}:3000"
    # Pass all envs into the container too
    env_file:
      - ./.env
    volumes:
      - ./database:/app/database
      - ./public/coverimages:/app/public/coverimages
    restart: unless-stopped
